body{
  margin:0;
  padding: 0;
  background: #708d00;
}
.card{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  height: 400px;
  background: #fff;
  transform-style: preserve-3d;
  transform: translate(-50%,-50%) perspective(2000px);
  box-shadow: inset 300px 0 50px rgba(0, 0, 0, .5), 0 20px 100px rgba(0, 0, 0, .5);
  transition: 1s;
}
.card:hover
{
  transform: translate(-50%,-50%) perspective(2000px) rotate(-10deg);
  box-shadow: inset 20px 0 50px rgba(0, 0, 0, .5), 0 10px 100px rgba(0,0,0,.5);
}
.card:before{
  content: "";
  position: absolute;
  top:-5px;
  left: 0;
  width: 100%;
  height:5px;
  background: #475b02;
  transform-origin:bottom;
  transform:skewX(-45deg);
}
.card:after
{
  content: "";
  position: absolute;
  top:0;
  right: -5px;
  width: 5px;
  height: 100%;
  background: #7EA301;
  transform: skewY(-45deg);
}
.card .imgbox{
  width:20px;
  height:20px;
  position: relative;
  transform-origin: left;
  transition: 1s;
}
.card:hover .imgbox{
  transform: rotateY(-135deg);

}
.card .details{
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding:20px;

}
p2{
  color: #fff;
}
.info{
/*   display: none; */
  opacity: 0;
  position: absolute;
  box-sizing: border-box;
  background-color: rgba(0,0,0,.3);
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 40px;
}
.info p{
  color: #fff;
}
.info:hover{
  -webkit-transition: 500ms;
  opacity: 1;
}
